.status-button {
  width: 165px; /* Define a mesma largura para todos os botões */
  color: #fff; /* Cor branca para o texto */
}

  

  .btn-em-andamento {
    color: #fff; /* Define a cor do texto como branca */
  }
  



  