.barra {
    display: flex;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(100, 99, 100);
    width: inherit;
}


.barra input[type="text"] {
    display: inline;
    font-size: 22px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 90%;
    flex-grow: 1;
}

.resultado {
    width: 100%;
    font-size: 18px;
}

.resultado ul {
    display: none;
    position: absolute;
    float:left;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(100, 99, 100);
    margin: 0;
    padding: 4px;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 40px;
    width: 63.8%;
}

.resultado li {
    list-style-type: none;
    margin: 0;
    margin-top: -1px;
    padding: 3px;
    border-bottom: 1px;
}

.resultado li:hover{
    background-color: black;
    color: white;
}
